body{
    background-image:url('C:\Users\0010MF744\Desktop\onlineportal\onlineportal\public\images\WebsiteBody.png');
    background-position: center;
    background-size: cover; 
    background-attachment: fixed; 
    overflow-x:hidden; 
  }
  